---
- name: Mount /proc if not mounted
  mount:
    path: /proc
    src: proc
    fstype: procfs
    state: mounted

- name: Configure boot loader
  lineinfile:
    path: /boot/loader.conf
    line: "{{ item }}"
  loop:
    - autoboot_delay="5"
    - geom_label_load="YES"

- name: Configure services
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - clear_tmp_enable="YES"
    - local_unbound_enable="YES"
    - ntpd_enable="YES"
    - ntpd_sync_on_start="YES"
    - rpcbind_flags="-W"
    - smartd_enable="YES"
    - syslogd_flags="-ss"

- name: Set /etc/hosts.allow
  copy:
    src: hosts.allow
    dest: /etc/hosts.allow
    owner: root
    group: wheel
    mode: 0600

- name: Set /etc/motd.template
  copy:
    src: motd.template
    dest: /etc/motd.template
    owner: root
    group: wheel
    mode: 0644

- name: Set sysctl's
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
  loop:
    - name: hw.usb.no_shutdown_wait
      value: 1
    - name: kern.msgbuf_show_timestamp
      value: 1
    - name: kern.proc_vmmap_skip_resident_count
      value: 1
