---
- name: Install required packages
  pkgng:
    name:
      - firefox
      - lightdm
      - lightdm-gtk-greeter
      - mate
      - seatd
    state: present

# pw groupmod video -m $USER
- name: Add user to video group
  user:
    name: "{{ target_user }}"
    groups: video
    append: yes

- name: Configure virtual tablet
  lineinfile:
    path: /boot/loader.conf.d/utouch.conf
    line: utouch_load="YES"
    create: true
  when: ansible_virtualization_type == 'kvm'

- name: Configure desktop services
  lineinfile:
    path: /etc/rc.conf.d/desktop
    line: '{{ item }}_enable="YES"'
    create: true
  loop:
    - dbus
    - lightdm
    - seatd

- name: Mount /var/run if not mounted
  mount:
    path: /var/run
    src: tmpfs
    fstype: tmpfs
    state: mounted
