---
- name: Install firmware
  pkgng:
    name:
      - cpu-microcode
      - wifi-firmware-kmod
    state: present

- name: Configure boot loader for microcode
  lineinfile:
    path: /boot/loader.conf.d/cpu_microcode.conf
    line: "{{ item }}"
    create: true
  loop:
    - cpu_microcode_load="YES"
    # cpu_microcode_name="/boot/firmware/amd-ucode.bin"
    - cpu_microcode_name="/boot/firmware/intel-ucode.bin"

- name: Configure boot loader for coretemp
  lineinfile:
    path: /boot/loader.conf.d/coretemp.conf
    line: "{{ item }}"
    create: true
  loop:
    #- amdtemp_load="YES"
    - coretemp_load="YES"

- name: Configure /etc/rc.conf for microcode_update
  lineinfile:
    path: /usr/local/etc/rc.conf.d/microcode_update
    line: 'microcode_update_enable="YES"'
    create: true
