---
- name: Install go packages
  pkgng:
    name:
      - go126
    state: present

- name: Create go symlink
  file:
    src: go126
    dest: /usr/local/bin/go
    state: link

- name: Create gofmt symlink
  file:
    src: gofmt126
    dest: /usr/local/bin/gofmt
    state: link
