---
- name: Install required packages
  pkgng:
    name:
      - lightdm
      - lightdm-gtk-greeter
      - mate
      - firefox
    state: present

# pw groupmod video -m $USER
- name: Add user to video group
  user:
    name: "{{ target_user }}"
    groups: video
    append: yes

- name: Configure boot loader for MATE
  lineinfile:
    path: /boot/loader.conf.d/utouch.conf
    line: utouch_load="YES"
    create: true
  when: ansible_virtualization_type == 'kvm'

- name: Configure DBus
  lineinfile:
    path: /etc/rc.conf.d/dbus
    line: dbus_enable="YES"
    create: true

- name: Configure LightDM
  lineinfile:
    path: /etc/rc.conf.d/lightdm
    line: lightdm_enable="YES"
    create: true

- name: Mount /var/run if not mounted
  mount:
    path: /var/run
    src: tmpfs
    fstype: tmpfs
    state: mounted
