---
- name: Configure NFS
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - nfs_server_enable="YES"
    # NFS v2/v3
    #- mountd_enable="YES"
    #- rpcbind_enable="YES"
    #- rpc_lockd_enable="YES"
    #- rpc_statd_enable="YES"
    # NFS v4
    - nfsv4_server_only="YES"
    - nfsv4_server_enable="YES"
    - #nfsuserd_enable="YES"

- name: Create /etc/exports
  copy:
    src: exports
    dest: /etc/exports
    owner: root
    group: wheel
    mode: 0600

- name: Set /etc/hosts.allow
  copy:
    src: hosts.allow
    dest: /etc/hosts.allow
    owner: root
    group: wheel
    mode: 0600
