---
- name: Configure NFS
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - nfs_server_enable="YES"
    - mountd_enable="YES"
    # NFS v2/v3
    - rpcbind_enable="YES"
    - rpc_lockd_enable="YES"
    - rpc_statd_enable="YES"
    # NFS v4
    - nfsv4_server_enable="YES"
    - nfsuserd_enable="YES"

- name: Create /etc/exports
  shell: touch /etc/exports
  args:
    creates: /etc/exports

- name: Set /etc/hosts.allow
  copy:
    src: hosts.allow
    dest: /etc/hosts.allow
    owner: root
    group: wheel
    mode: 0600
