---
- name: Install Nvidia packages
  pkgng:
    name:
      - drm-latest-kmod
      - nvidia-driver
      - nvidia-drm-latest-kmod
      - nvidia-settings
      - nvidia-xconfig
    state: present

- name: Configure boot loader for firmware
  lineinfile:
    path: /boot/loader.conf.d/nvidia.conf
    line: "{{ item }}"
    create: true
  loop:
    - hw.nvidiadrm.modeset=1

- name: Configure /etc/rc.conf for Nvidia
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - kld_list="nvidia-drm"

- name: Add Nvidia to PORTS_MODULES
  lineinfile:
    path: /etc/make.conf
    line: 'PORTS_MODULES+= graphics/drm-latest-kmod graphics/nvidia-drm-kmod'
    state: present
