---
- name: Load Packet Filter at boot
  lineinfile:
    path: /boot/loader.conf.d/pf.conf
    line: pf_load="YES"
    create: true

- name: Configure Packet Filter
  lineinfile:
    path: /etc/rc.conf.d/pf
    line: "{{ item }}"
    create: true
  loop:
    - pf_enable="YES"
    - pf_rules="/etc/pf.conf"
    - pflog_enable="YES"

- name: Copy Packet Filter rules
  copy:
    src: pf.conf
    dest: /etc/pf.conf
    owner: root
    group: wheel
    mode: 0600
