---
- name: Configure pkg
  copy:
    src: pkg/FreeBSD.conf
    dest: /etc/pkg/FreeBSD.conf
    owner: root
    group: wheel
    mode: 0644

# https://wiki.freebsd.org/PkgBase
- name: Backup libraries
  lineinfile:
    path: /usr/local/etc/pkg.conf
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
  loop:
    - line: BACKUP_LIBRARIES=true
      regexp: ^BACKUP_LIBRARIES=
    - line: BACKUP_LIBRARY_PATH=/usr/local/lib/compat/pkg
      regexp: ^BACKUP_LIBRARY_PATH=

- name: Install required packages
  pkgng:
    name:
      - atf
      - bash
      - bash-completion
      - cdrtools
      - coreutils
      - curl
      - diffutils
      - findutils
      - gawk
      - gdb
      - gh
      - git
      - gmake
      - gnugrep
      - groff
      - gsed
      - gtar
      - jq
      - kyua
      - lesspipe
      - modules2tuple
      - moreutils
      - nmap
      - pciutils
      - pkgconf
      - pigz
      - portlint
      - psmisc
      - python3
      - rsync
      - smartmontools
      - tmux
      - util-linux
      - vim
      - wget
      - zfstools
    state: present

#- name: Add ports collection
#  shell: git clone --depth 1 --branch stable/14 https://github.com/freebsd/freebsd-ports /usr/ports
#  args:
#    creates: /usr/ports

#- name: Add ports collection
#  git:
#    repo: https://git.FreeBSD.org/ports.git
#    dest: /usr/ports
#    depth: 1
