---
- name: Install podman suite 
  pkgng:
    name:
      - podman-suite
    state: present

- name: Mount /dev/fd
  mount:
    path: /dev/fd
    src: fdesc
    fstype: fdescfs
    state: mounted

# zfs create -o mountpoint=/var/db/containers zroot/containers
- name: Create ZFS containers volume
  zfs:
    name: zroot/containers
    state: present
    extra_zfs_properties:
      mountpoint: /var/db/containers

- name: Load sysctl's for podman
  sysctl:
    name: net.pf.filter_local
    value: '1'
    state: present

- name: Run podman at boot to restart containers
  lineinfile:
    path: /etc/rc.conf.d/podman
    line: "{{ item }}"
    create: true
  loop:
    - podman_enable="YES"
