---
- name: Install QEMU Guest Agent
  pkgng:
    name:
      - qemu-guest-agent
    state: present

- name: Autostart QEMU Guest Agent
  lineinfile:
    path: /usr/local/etc/rc.conf.d/qemu_guest_agent_enable
    line: "{{ item }}"
    create: true
  loop:
    - qemu_guest_agent_enable="YES"
    - qemu_guest_agent_flags="-d -v -l /var/log/qemu-ga.log -p /dev/vtcon/com.redhat.spice.0"
