---
- name: Copy wpa_supplicant.conf
  copy:
    src: wpa_supplicant.conf
    dest: /etc/wpa_supplicant.conf
    owner: root
    group: wheel
    mode: 0600

- name: Configure WiFi
  lineinfile:
    path: /etc/rc.conf
    line: "{{ item }}"
  loop:
    - wlans_iwm0="wlan0"
    - ifconfig_wlan0="WPA DHCP"
    - ifconfig_wlan0_ipv6="inet6 accept_rtadv"
    - create_args_wlan0="country DE regdomain ETSI"

- name: Add firmware to PORTS_MODULES
  lineinfile:
    path: /etc/make.conf
    line: 'PORTS_MODULES+= net/wifi-firmware-kmod'
    state: present
